*.pyc
/.idea
/poetry.lock
/__pycache__
/migrations/__pycache__
/migrations/versions/__pycache__
/postgres-data
/docubot/__pycache__
/docubot/database/__pycache__
/docubot/database/models/__pycache__
/docubot/repository/__pycache__
/docubot/routes/__pycache__
/docubot/schemas/__pycache__
/docubot/services/__pycache__
/docubot/utils/__pycache__
/docubot/routes/docs/__pycache__
/tests/__pycache__
/tests/.pytest_cache
/htmlcov
/.coverage
/tests/test.db
/test.db
.coverage

/fly.toml
/Procfile

/.env